<div class="container">
    {{#each blogs}}
    <div class="blog">
        <a href="/blogspost/{{this.slug}}">{{this.title}}</a>
        <h6> {{this.title}}</h6>
    </div>
    {{/each}}
</div>