#nav{
    /* list-style-type: lower-alpha; */
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(182, 182, 211);
    color: brown;
    padding: 20px;
    margin: 0;
}

#link{
    text-transform: uppercase ;
}

.nav_ele{
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
    list-style-type:none ;
    margin:0 ;
    padding: 0;
    height: 0;
    overflow: hidden;
    top:15px;
    
}

.nav_ele li{
    background-color: rgb(208, 196, 220);
    padding: 10px;
    color: rgb(41, 36, 36);
    box-shadow: 2px 1px 2px brown;
    text-transform: uppercase;


}

.parent{
    position: relative;
}

#links, .nav_ele {
    position: absolute;
}

#links:hover~.nav_ele{
    height: max-content;

}