*{
    margin: 0;
    padding: 0;
}
body{
    font: 14px georgia, serif;
    background: #ccc;
}

article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
    display: block;
}

h1{
    font: 24px georgia;
    padding: 5px;
}

h3{
    margin: 0 0 8px 0;
}

p{
    margin: 0 0 20px 0;
}

#fluid-wrap{
    width: 70%;
    margin: 60px auto;
    padding: 20px;
    background: #eee;
    overflow: hidden;
}

#sidebar{
    width: 20%;
    float: left;
}

#sidebar ul li a{
    color: red;
    text-decoration: none;
    padding: 3px 0;
    display: block;

}



@media all and (max-width:1000px){
    #sidebar ul a li:after{
      content: "(" attr(data-email)")";
      font-size: 11px;
      font-style: italic;
      color: #666;
    }
}


@media all and  (max-width: 699px) and (min-width: 700px) {
#sidebar ul li a:before {
    content: "Email: ";
    font-style: italic;
    color: #666;
}
} 

@media all and (max-width: 699px) and (min-width: 520px),(min-width: 1151px) {
    #sidebar ul li a{
        padding-left: 21px;
        background: url(Pic/plane.jpg) left center no-repeat;
    }
}


#main-content{
    width: 65%;
    float: right;

}