h3{
    color: brown;
}

table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    border-spacing: 6px;

}

th{
    background-color: blue;
}

td{
    background-color: skyblue;
}