img{
    /* transform: scale(2); */
    /* transform: translate(100px,250px); */
    /* transform: rotate(45deg); */
    /* transform: rotate(-45deg); */
    /* transform: scaleX(3); */
    /* transform: scaleY(2); */
    /* transform: skew(30deg); */
    /* transform: skewX(15deg); */
    /* transform: skewY(15deg); */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotateZ(180deg); */

    /* transform: translateY(-400px); */
    height: 0;
    width:200px;

    transition-property: all ;
    transition-delay:1s ;
    transition-duration: 3s; 
    transition-timing-function: ease-in;  
}

h1:hover~img{
    height: 200px;
    /* transform: translateY(200px); */
    
}