img{
    width: 200px;
    animation-name: animation;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

@keyframes animation {
    /* from{width: 200px;} */
    /* to{width: 400px;} */
    0%{transform: translate(0px,0px);}
    25%{transform: translate(200px,0);}
    50%{transform: translate(200px,200px);}
    75%{transform: translate(0px,200px);}
    100%{transform: translate(0px,0px);}   
}

h1{
    animation-name: Menu1;
    animation-duration: 7s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in;
}
@keyframes Menu1 {
    from{transform:translateX(800px);}
    to{transform: translateX(0px);}   
}
p{
    animation-name: Para;
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in;
    animation-direction: reverse;
}

@keyframes Para {
    from{transform:translateX(0px);}
    to{transform: translateX(950px);}   
}

